	<nav class = "navBar">
            <ul>
                <li><a href="/signout"><i class="fa fa-sign-in" aria-hidden="true"></i>SignOut</a></li>
                <li><a href="/myItems"><i class="fa fa-book" aria-hidden="true"></i>MyBooks</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</a></li>
            </ul>
    </nav>
