<!DOCTYPE html>
<html>
<head>
	 <title><%= title.title %></title>
	<meta charset="UTF-8">
	<link  rel = "stylesheet" href= "./assets/css/StyleSheet.css" type = "text/css">
	<!-- Font Awesome Icon Library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%if(title.theUser)
 {%>
 <%include partials/header1.ejs%>
 <%include partials/user-navigation1.ejs%>
	<%}
 else
 {%>
 <%include partials/header.ejs%>
 <%include partials/user-navigation.ejs%>
 <%}%>
 <%include partials/site-navigation.ejs%>
    <main class = "horizontalBar">
			<section class ="contact">
							<h4>Welcome to the Contact us page of Bookstagram</h4>
							<h4>We'd love to hear from you!</h4>
							<p><b>Phone</b>:9802055519</p>
							<p><b>Email</b>:Bookstagram@bk.edu</p>
							<p><b>Address</b>:220 Bk Street Avenue.</p>
			</section>
    </main>
   <%include partials/footer.ejs%>
  </body>
  </html>
